
# BEGIN WordPress
# Las directivas (líneas) entre «BEGIN WordPress» y «END WordPress» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.

# END WordPress
# BEGIN Simply Static
# Las directivas (líneas) entre «BEGIN Simply Static» y «END Simply Static» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<Files "C:\xampp\htdocs\spam/wp-content/uploads\simply-static\a4a70d44302aa387dd93f3ef3169774e-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static